.split-screen {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

.sidebar {
  color: white;
  word-wrap: break-word;
  flex-shrink: 0;
}

/* Media query to detect small width and rotate the text */
/* @media (max-width: 1000px) {
  .sidebar p{
    transform: rotate(270deg);
    white-space: nowrap;
  }
} */

.main-content {
  flex-grow: 1; /* Take up the remaining space */
  padding: 20px;
  background-color: #e6ebec;
  overflow-x: hidden;
  overflow-y: auto;
}